@media only screen and (orientation: landscape) {
  .game-container {
    width: 40vw;
    margin: 1vw auto;
  }

  .memory-grid {
    margin-top: 2vw;
    height: 40vw;
    grid-gap: 0.5vw;
  }
}
@media only screen and (orientation: portrait) {
  .game-container {
    width: 96vw;
    margin: 2vw auto;
  }

  .memory-grid {
    margin-top: 2vw;
    height: 96vw;
    grid-gap: 1vw;
  }
}

.memory-grid {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
}
