@media only screen and (orientation: landscape) {
  .ms-grid {
    height: 40vw;
  }

  .ms-icon {
    font-size: 1.8vw;
  }
}
@media only screen and (orientation: portrait) {
  .ms-grid {
    height: 96vw;
  }

  .ms-icon {
    font-size: 4vw;
  }
}

.ms-grid {
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(10, auto);
  background-color: #e4e4e4;
}
